html(lang="es")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="app.css")
  title Document

body
  header(id="header" class="Header")

  div(id="landing" class="Landing")
  
  footer(id="footer" class="Footer")
  
  script(src="app.js")
    
    
    
    
    
    
    
    
    
    
    
    
    
