.Career
  width 48%
  margin 1em 0

  &-header
    padding 1em
    background-color #9C4776

  &-imageContainer
    width 22%
    display inline-block
    vertical-align middle
  
  &-image
    width 100

  &-body
    display inline-block
    vertical-align middle
    margin-left 1em
  
  &-text
    color title
    font-size 1.2em

  &-name
    font-size 1.5em
    color title

  &-list
    box-sizing border-box
    border 1px solid border

  &-course
    font-size .7em
  
  &-course .Course
    padding 1em
    border-bottom 1px solid border

  &-course .Course-icon
    width 8%