.Course
  display flex
  align-items center

  &-icon
    width 10%

  &-icon img
    width 100%  
    
  &-detail
    margin-left 1em

  &-title
    margin-top 0.5em
    font-size 1.62em
    color dark


.isHidden
  display none

.isNext
  background-color accent
  color title
  padding .5em
  letter-spacing 0.1em
  text-transform uppercase