.Footer
  

  &-container
    display flex
    justify-content space-around
    padding 1em 1em
    background-color heading
    
  &-description
    width 30%
    color white
    font-size 1.1em
  
  &-extraInfo
    padding 1em
    margin-bottom 1em

  &-button
    button(accentDark)
    margin 0 1em

  &-contactInformation
    width 25%
    font-size 1.1em
  
  &-navLink
    padding .5em 1em

    & a
      color title
      text-decoration underline
  
  &-contactLink
    padding .5em 1em

    & a
      color title
      text-decoration underline