.Header
  background-color #1c3643

  &-container
    display flex
    justify-content space-between
    padding .5em

  &-logo
    width 6.5%
    align-self center
    
    & img
      width 100%

  &-menuContainer
    display flex
    align-items center


  &-submitButton
    button(accent)