.LanguageSelect
  padding .5em

  &-optionContainer
    display flex
    align-items center
    padding 0.5em
  
  &-optionImage
    width 100%
  
  &-text
    color white
    text-transform uppercase
    font-weight bold
    font-size .8em
    margin-left .5em