.LoginView
  padding 1em
  box-sizing border-box
  position relative

  &-imageContainer
    padding 0
    width 10%
    position relative
    top 3em
    margin 0 auto

  &-image
    width 100%
  
  &-content
    border 2px solid mainDark
    box-shadow 0 0 5px 0 rgba(0,0,0,.2)
    padding 65px 20px 40px
    width 50%
    margin 0 auto
    text-align center

  &-title
    font-size 36px
    margin-bottom 26px
  
  &-socialContainer
    display flex
    flex-direction column
    padding .5em
    align-content center
    align-items center
  
  &-imageLoginLink
    text-decoration underline

  &-register
    text-align center
    margin 1em 0 2em
    font-size 1.1em

  &-link
    text-decoration underline
    color heading

  &-info
    text-align center
    margin 1em 0 2em

    & a
      color accent
      text-decoration underline