.MainMenu
  background-color #1c3643

  &-container
    display flex
  
  &-option
    border-left 1px solid white
    flex-grow 1 

  &-link
    color title
    padding 0.5em .8em
    display block
    cursor pointer
    text-transform capitalize
    font-size .9em
    font-weight bold
    border-top 5px solid transparent

    &:hover
      border-top 5px solid accentDark 