.MainSection
  background-image url("cover_home.jpg")
  background-repeat none
  background-size cover
  background-position 50% 50% 
  display flex
  padding 2.5%
  justify-content space-around

  &-left
    width 45%
    font-size 1.2em
    display flex
    flex-direction column
    justify-content space-around
    
  &-leftTitle
    color white 
    line-height 1.3em

  &-button
    button(main)
    font-size 1.2em
    text-shadow 0 1px .5px text
    box-shadow 0 5px 2px mainDark
    
  
  &-link
    color title
    margin-left 6%
    text-decoration underline

  &-right
    width 23.81em

  &-trailer img
    width 100%