.NextCourse

  &-container
    padding 1em 3em
    background-color itemBackground
  

  &-date
    text-align center
    align-self center
    padding 0 2em
    box-sizing border-box
    padding 0.5em
    display inline-block
    vertical-align middle
    margin-left 5em
    color dark

  &-dateDay
    border-bottom 1px solid dark
    font-size 3em
    display block
    margin-bottom .2em
  

  &-dateMonth
    font-size 1.2em
  
  
  &-courseDetail
    width 60%
    display inline-block
    vertical-align middle
    text-align inherit
  


