.PlanTab
  border: 1px solid #dbdbe2;
  border-radius: 1em 1em 0 0;

  &-title
    margin 0
    background heading
    padding .5em 1em
    text-align center
    font-size 1.5em
    border-radius 0.2em 0.2em 0 0
    color title

  &-monthlyCost
    color mainDark
    font-size 2.5em
    display block
    text-align center
    padding .2em 0 0

  &-currency
    text-align center

  &-imageContainer
    display inline-block
    width 16px
    height 16px
    overflow hidden

  &-country
    width 100%
    border-radius 50%
    height 100%

  &-coin
    display inline-block
    font-size 1.2em
    margin-left 0.2em

  &-totalCost
    font-size 0.8em
    text-align center
    margin-bottom 2em

  &-content
    text-align center

  &-row
    padding 1em 0
    zebra(zebraEven, zebraOdd)


  &-button
    button()
    font-size 1em
    padding 0.5em
    margin 1em 1em
    display block
    text-align center