.Plans
  width 90%
  margin 0 auto
  
  &-title
    text-align center
    margin 1em 0 0

  &-container
    display flex
    padding 1em
    justify-content space-around
    align-items center

  &-aside
    width 50%
    margin-top: 3.2em;

  &-asideTitle
    font-size 1.5em
    padding .8em .2em

  &-allPlans
    width 50%

  &-tabs
    margin-top 1em
    display flex
    justify-content space-between


  &-message
    text-align center
    color text

.PlanAside
  
  &-description
    padding 1em 0.5em
    zebra(zebraEven, zebraOdd)

