@import './styles/normalize'
@import './styles/reset'
@import './styles/helpers'
@import './styles/Header'
@import './styles/MainMenu'
@import './styles/LanguageSelect'
@import './styles/MainSection'
@import './styles/NextCourse'
@import './styles/Course'
@import './styles/Plans'
@import './styles/PlanTab'
@import './styles/CoursesList'
@import './styles/Career'
@import './styles/Footer'
@import './styles/LoginView'
@import './styles/SocialButton'
@import './styles/Form'

body
  font-size 16px
  color text
  text-rendering optimizeLegibility


